@tailwind base;
@tailwind components;
@tailwind utilities;

.slanted-background {
  top: 0;
  position: absolute;
  transform: skew(-10deg);
  left: 0%;
  height: 60vh;
  width: 60vw;
  display: flex;
}
